{% extends "layout.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div class="card mb-3">
                <div class="row no-gutters">
                  <div class="col-md-4">
                    <img src="/static/images/pexels-dave-diangelo-1431234.jpg" alt="..." class="img-fluid">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h5 class="card-title">What's Been Done To Paddy?</h5>
                      <p class="card-text">
                        <ul>
                          <li>Brand new wiring harness</li>
                          <li>new headlights(LED)</li>
                          <li>new alternator</li>
                          <li>new spare wheel</li>
                          <li>new rally lights</li>
                          <li>new speedometer & speedometer cable</li>
                          <li>new shortshifter</li>
                          <li>new windscreen wipers</li>
                          <li>new rear-view mirror</li>
                          <li>new side mirrors</li>
                          <li>new chrome rocker cover</li>
                        </ul>
                      </p>
                      <p class="card-text"><small class="text-muted">...</small></p>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>
{% endblock %}