{% extends "layout.html" %}

{% block content %}
<script src="/static/paddy_sightings.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<form id="current_location" method="post">
    <input id="current_lat" name="lat" hidden>
    <input id="current_lng" name="lng" hidden>
    <button id="myBtn"  class="mb-xl-1" type="submit" method="post">Use Current Location</button>
</form>
<form id="map_location" method="post">
    <div id="row1">
        <div id="map2"></div>
    
        <div id="latlong">
            <input size="20" type="text" id="latbox" name="lat" hidden>
            <input size="20" type="text" id="lngbox" name="lng" hidden>
            <button class="mb-xl-1" type="submit" method="post">Select Location From Map</button>
        </div>
    
    </div>
</form>

<div id="row2">
    <h1 id="sightings">Sightings</h1>
<div id="map"></div>
</div>
<cfoutput>
    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBboQB2omswdY0o8RQQAcj6ZnbQ6Qz2l14&callback=initMap"></script>
</cfoutput>
{% endblock %}