{% extends "layout.html" %}

{% block content %}
<div class="container-fluid bg-opacity-10 bg-primary">
  <style>
    #page {
        background-image: url(/static/images/76CE35BC-F2AE-471D-9CF5-3F95BAA111E8_1_105_c.jpeg);
        background-size: cover;
        background-position: center;
        height: 80;
    }
  </style>
  <script src="/static/paddy_sightings.js"></script>
  <div id="page" class="page-header sticky-top">
      <div class="row p-0">
        <div class="col mx-auto my-2 text-white">
          <h1 class="display-1 fw-bolder">Sightings</h1>
        </div>
      </div>
  </div>
  <div class="row">
    <div class="col">
      <h1 class="fw-bold display-4 text-white">Have You Seen Me?</h1>
    </div>
  </div>
  <div class="row">
      <div class="col-5">
        <form action="/sightings" method="post">
          <div class="row my-5">
            <div class="col">
              <label for="name">Your Name:</label>
              <input type="text" autofocus autocomplete="name" name="name" id="name" required>
            </div>
          </div>
          <div class="row my-5">
            <div class="col">
              <label for="date">When did you see me?</label>
              <input type="date" id="date" name="date" required>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <label for="latbox">Latitude:</label>
              <input id="latbox" name="lat">
            </div>
            <div class="col">
              <label for="lngbox">Longitude:</label>
              <input id="lngbox" name="lng">
            </div>
          </div>
          <div class="row my-5">
            <div class="col">
              <button class="btn btn-primary btn-lg" type="submit">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <div class="col">
        <div class="col rounded-3 mb-5" id="map2" name="map2"></div>
      </div>
  </div>
  <div class="row">
    <div class="col my-5 bg-primary bg-opacity-50"></div>
  </div>

  <cfoutput>
      <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBboQB2omswdY0o8RQQAcj6ZnbQ6Qz2l14&callback=initialize"></script>
  </cfoutput>
</div>
{% endblock %}